.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.btn{
  background-color:  #cbe7d4;
}
.b{
  margin-left:-50px ;
}
.btnn{
  background-color:  #ff0000;
}
