.nasri{
  margin-left:210px ;
  color: blue;
}
.nasr{
  margin-left:320px ;
}
.saif{
  margin-left:50px ;
  white-space: normal;
}
.n{
  color: red;
}
.b{
color: rgb(6, 6, 49);
  width:300px;
  height:100px ;
}
span{
  color: red;
}
.ka{

  width:1420px;
  height: 570px;
  margin-left:50px ;

}
.na{
  margin-left:600px ;
}
