<br> <br> <br> <br> <br> <br> <br> <br>
<div class="container">
  <div class="row">
    <div class="col-md-3 mx-auto my-5" *ngFor="let item of dataArry2">
      <mat-card class="example-card">
        <mat-card-header>

          <mat-card-title style="margin-left:40px ;">Email_Client<h6 class="b" >{{item.name}}</h6></mat-card-title>
          <mat-card-title style="margin-left:40px ;">Nom_Client<h6 class="b" >{{item.email}}</h6></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/img/clients/n11.png" alt="Photo of a Shiba Inu">
        <mat-card-content>

           <h6  style="color: #090164;"><h6 style="margin-left:40px ;">ID_Client</h6>{{item.id}}</h6>  <span></span>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="btn " style="color: #000000 ;margin-left:50px ;" (click)="more(item.id)">plus_détails</button>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
