.nn{
  margin-top:50px ;
  margin-left:220px ;
}
.b{
  margin-top: 30px ;
  margin-left:80px ;
}
.c{
margin-left:300px ;
margin-top: 20px ;
}
.nasri{
  margin-top: 100px;
  margin-left: 40px;
  width:1400px ;
  height: 325px ;
  background-color: rgb(229, 226, 226);
}
img{
  margin-top:-474px ;
  margin-left:80px ;
}
.n{
  color: white;}
.bb{
  margin-top:10px ;

  margin-left:450px ;

}
.ad { margin-top:-170px ;
  margin-left:90px ;

}
.r{
  margin-left:200px ;
margin-top: 30px ;
}
